<div id="grad1">
    <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:200px" style="background-color:white;" id="corners">
          
          <img src="assets/p1.jpg" alt="Profil" width="43%" style="float: left;" >
          <h2>{{translations[Selector][0]}}</h2>
          <h1>{{translations[Selector][1]}}</h1>
          <p style="margin-left:160px;" >Beltechi Marius-Gabriel<br/></p>
          <h1>{{translations[Selector][2]}}</h1>
          <p style="margin-left:145px;" >Cluj-Napoca<br/></p>
          <h1>{{translations[Selector][3]}}</h1>
          <p style="margin-left:10px;" >{{translations[Selector][4]}}<br/></p>
          <h1>E-MAIL</h1>
          <p style="margin-left:150px;">mariusbeltechi@yahoo.com<br/></p>

        </div>



    </div>
</div>