<link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"> 
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<img src="assets/city.jpg" alt="Italian Trulli" height="450" width="1400">
<div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center padding-64"><span class="w3-tag w3-wide">{{translations[Selector][0]}}</span></h5>
      <p>{{translations[Selector][1]}}</p>
    </div>
</div>

<div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center padding-64"><span class="w3-tag w3-wide">{{translations[Selector][2]}}</span></h5>
      <p>{{translations[Selector][3]}}</p>
      <img src="/assets/forum.png" style="width:50%;max-width:500px;margin-top:32px;" class="imgcentru">
         <div class="container">
          <h4 id="demo">{{translations[Selector][4]}}</h4>
        </div>
      
        <div class="container" >
          <input type="text" placeholder={{translations[Selector][5]}} name="name" required>
          <input type="text" placeholder="Email" name="mail" required>
          <input type="text" placeholder={{translations[Selector][6]}} name="mail" required>

          <label>
            <input type="checkbox" checked="checked" name="subscribe">{{translations[Selector][7]}}
          </label>
        </div>
      
        <div class="container">
          <input type="submit" value={{translations[Selector][7]}}>
        </div>
      
    </div>
</div>


<!--<div class="footer">
  <div class="tab">
      <h1>About</h1>
      <h2>Me</h2>
      <h2>Blog</h2>
  </div>
  <div class="tableft">
    <a href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" class="fa fa-twitter"></a>
    <a href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" class="fa fa-facebook"></a>
  </div>
  <div class="tabright">
    <h3>Connect</h3>
    <div class="inline">
     <input type="text" placeholder="Email">
     <span class="input-group-addon" id="basic-addon2"><i class="fas fa-check"></i></span>
    </div>
  </div>
</div>-->



