img{
    max-width: 100%;
    height: auto;
     
  }

  .imgcentru {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
  #grad1 {
    height: 800px;
    background-color: red; /* For browsers that do not support gradients */
    background-image: linear-gradient(to right,rgb(89, 0, 255) ,rgb(130, 213, 238)); /* Standard syntax (must be last) */
  }

  #corners {
    border-radius: 25px;
    padding: 20px; 
    width: 2000px;
    height: 550px;  
    margin-top:100px; /*to have the space above the image*/
    margin-bottom:100px; /*to have the space above the image*/
    background-image: linear-gradient(to right,rgb(153, 0, 255) ,rgb(76, 0, 255)); /* Standard syntax (must be last) */

  }

  .button {
    background-color: Transparent;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    

  }
.wrapper button:hover
{
    text-decoration:underline;
}
  .wrapper {
    text-align: center;
    margin-top:50px; /*to have the space above the image*/

}
.center{
    margin-top:50px; /*to have the space above the image*/
    margin-left:270px; /*to have the space above the image*/

}
input[type=text], input[type=submit] ,input[type=password]{
    display:inline-block;
    padding: 12px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 25px;

  }
  input[type=text],input[type=password]
  {
    width: 60%;

  }
  input[type=submit],input[type=password]
  {
    width: 30%;

  }
