
<img src="assets/city.jpg" alt="city" height="450" width="1400">

<div class="w3-container" id="about">
    <div class="w3-content" style="max-width:700px">
      <h5 class="w3-center padding-64"><span class="w3-tag w3-wide">{{translations[Selector][0]}}</span></h5>
      <p>{{translations[Selector][1]}} </p>
    </div>
    <img src="assets/deschidereforum.png" style="width:50%;max-width:500px;margin-top:32px;" class="imgcentru">


    <div class="w3-content" style="max-width:700px">
        <h5 class="w3-center padding-64"><span class="w3-tag w3-wide">{{translations[Selector][2]}}</span></h5>
        <p>{{translations[Selector][3]}}</p>
        <p>Comentarii</p>
        <ul>
            <li *ngFor="let h of itemListResponse">{{h.email}}:{{h.comment}}{{h.created_at}}</li>
            </ul>
        <div id="chartContainer" style="height: 370px; width: 100%;"></div>

        <div *ngIf="isaut=='true'">
            <form (ngSubmit)="onSubmit(fm)" #fm="ngForm">
                <p>Adauga un comentariu</p>
            <div class="form-group">
                <input id="name" type="text" placeholder="Comment" class="form-control" ngModel name="name">
              </div>        
              <input type="submit" />
            </form>
        </div>

    </div>

   

</div>

