
<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">





<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:600px" style="background-color:rgb(41, 141, 223);" id="corners">
    <div class="mesaj" >
      <div class="contact" >
        <h2>Coordonator</h2>
         <h1 style="margin-right:25px;">{{translations[Selector][0]}}</h1>
          <p style="margin-left:130px;" >{{translations[Selector][1]}}<br/></p>
          <h1 style="margin-right:185px;">{{translations[Selector][2]}}</h1>
          <p style="margin-left:25px;" >Dragos Gabriel<br/></p>
          <h1>{{translations[Selector][3]}}</h1>
          <p style="margin-left:10px;" >{{translations[Selector][4]}}<br/></p>

    </div> 
      
    </div>
  </div> 
</div> 


