*{
    margin: 0;
  }
  input[type=text], input[type=submit] {
    width: 80%;
    padding: 12px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    border-radius: 25px;

  }
  .get
  {
    margin-top: 30px;
    margin-left: 360px;

  }  
  /* Add margins to the checkbox */
  input[type=checkbox] {
    margin-top: 16px;
  }
  
  /* Style the submit button */
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    border: none;
  }
  textarea
  {
    border-radius: 25px;

  }
  input[type=submit]:hover {
    opacity: 0.8;
  }

  .mesaj
  {
    border-radius: 25px;
    padding: 20px; 
    background-image: linear-gradient(to right,rgb(89, 0, 255) ,rgb(130, 164, 238));
    height: 500px;  
    text-align: middle;


  }
  .contact{
    margin-top: 130px;
    margin-left: 70px;

    display: inline-block;
    text-align: left;
    height: 270px;  

  }
  .contact h2{
    color: white;
    font-size: 1.125rem;
    font-weight: 500;/*text-align: center;                   removed  */
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-left: 40px;                  /*  added  */
  }
  .get p{
    color: white;
    font-size: 1.125rem;
    font-weight: 500;/*text-align: center;                   removed  */
    margin-bottom: 10px;
    margin-left: 70px;                  /*  added  */
  }
  
  .contact li{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }
  

  .contact a{
    color: white;
    text-decoration: none;
  }
  .contact a:hover{
    color: yellow;
  }
  .contact p{
    color: white;
    line-height: 1.4;
  }
  .contact .fa{
    color: white;
    font-size: 1.5rem;
    line-height: 30px;
    margin-right: 10px;
    width: 30px;
    height: 30px;
    text-align: center;
  }

  #corners {
    border-radius: 25px;
    padding: 20px; 
    width: 900px;
    height: 550px;  
    background-image: linear-gradient(to right,rgb(153, 0, 255) ,rgb(76, 0, 255)); /* Standard syntax (must be last) */
    margin-top:100px;
    margin-left:200px;
    margin-bottom:200px;

  }
#mesajbox
{
  line-height: 80px;

}
  p{
    display: inline-block;

  }