<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>


<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div class="w3-container" id="about">
  <div class="w3-content" style="max-width:600px" style="background-color:rgb(41, 141, 223);" id="corners">
    <div class="mesaj" >
      <div class="contact" style="float: left;">
        <h2>Contact</h2>
        <ul>
          <li>
              <i class="fa fa-envelope"></i> 
              <a href="#">mariusbeltechi.com</a>
          </li>
          <li>
           <i class="fa fa-phone"></i> 
           <a href="#">111-222-333</a>
          </li>
          <li>
              <i class="fa fa-building-o"></i>
              <p>Cluj-Napoca <br>
              Romania <br>
              </p>
          </li>
        </ul>
      </div> 
      <div class="get" ng-controller="myCtrl">
        <app-map></app-map>
      </div>
    </div>
  </div> 
</div> 

