{{mesaj1}}

<input type="file" (change)="changeListener($event)" #input />

<div [innerHTML]="htmlData">
   
</div>


<!--<body>

    <img src="assets/city.jpg" alt="Italian Trulli" height="450" width="1400">

    <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:700px">
          <h5 class="w3-center padding-64"><span class="w3-tag w3-wide">Tehnologie</span></h5>
          <p>Angular este o platformă de creare a site-ului cu sursă deschisă pentru a limită TypeScript. Proiectul este stabilit de Echipa unghiulară a Google și de comunitate de utilizatori individuali și de a folosi. Este unghiulară sau se rezolvă complet, până la aceeași echipă, un cadru angularJS.</p>
          <p>Inițial, versiunea rescrisă a AngularJS a fost numită "Angular 2" de echipă, însă acest lucru a provocat confuzie printre dezvoltatori. De aceea, echipa a anunțat că "AngularJS" se va referi la versiunile 1.X și "Angular" (fără "JS") la versiunile 2 și ulterioare</p>
        </div>
    </div>

    <div class="embed-responsive embed-responsive-16by9" align="center">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/pTec1e8oyc8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>    
    </div>

    <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:700px">
          <h5 class="w3-center padding-64"><span class="w3-tag w3-wide">Tutorial</span></h5>
          <p>Acest tutorial este special conceput pentru a vă ajuta să învețe AngularJS cât mai repede și mai eficient posibil. În primul rând, veți învăța elementele de bază ale AngularJS: directive, expresii, filtre, module, și controlere.Atunci vei învăța tot ce trebuie să știți despre AngularJS:Evenimente, DOM, Formulare, de intrare, de validare, HTTP, și multe altele.</p>
        </div>
    </div>

</body>-->